@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansExtraBold";
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansExtraBoldItalic";
  src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
  src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansBoldItalic";
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansRegularItalic";
  src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
  src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansSemiBoldItalic";
  src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
  src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  font-family: "OpenSansRegular", 'sans-serif';
  font-size: 13px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none; }

.wrapper {
  width: 1366px;
  min-height: 768px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
    -webkit-flex-wrap--ms-flex-wrap: wrap;
    -webkit-flex-wrap-flex-wrap: wrap;
  -webkit-justify-content: space-between;
    -webkit-justify-content-justify-content: space-between; }

.header {
  position: fixed;
  width: 100vw;
  left: 60px;
  height: 60px;
  border: 1px solid #cccccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.search {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
    -webkit-justify-content-justify-content: space-between; }
  .search__menu {
    width: 10%;
    height: 60px; }
    .search__menu img {
      display: block;
      margin: auto;
      padding-top: 24px; }
  .search__input {
    width: 1000px;
    height: 58px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 20px;
    border: none;
    outline: none; }

.btn--search {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 24px;
  left: 95px;
  border: none;
  cursor: pointer;
  background: url("../img/search.svg") center no-repeat; }

.notifications {
  width: 20%;
  height: 60px;
  margin-right: 90px; }
  .notifications__item {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url(../img/notify.svg) center no-repeat;
    position: relative; }
    .notifications__item .counter {
      color: #ffffff;
      display: block;
      width: 14px;
      height: 14px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: #ea3d36;
      position: absolute;
      top: 0;
      right: 0; }
      .notifications__item .counter span {
        display: block;
        font-size: 11px;
        line-height: 14px;
        text-align: center; }

.notifications-wrap {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
    -webkit-justify-content-justify-content: space-between;
  -webkit-align-items: center;
    -webkit-align-items-align-items: center; }

.sidebar {
  position: fixed;
  width: 70px;
  height: 100vh;
  background-color: #213837;
  color: white; }
  .sidebar__logo {
    width: 70px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    background-color: #0eaaa6; }
  .sidebar ul li a {
    display: inline-block;
    color: #9fb9b8;
    width: 70px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    fill: #adc8c7; }
    .sidebar ul li a:hover {
      background-color: #067670;
      fill: white; }

.user-block {
  width: 120px;
  height: 60px;
  padding-right: 20px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .user-block__logo {
    width: 45px;
    height: 45px;
    display: inline-block;
    -webkit-border-radius: 50%;
      -webkit-border-radius-border-radius: 50%;
    background-color: grey; }
  .user-block__name {
    display: block;
    color: #515151;
    position: relative; }
    .user-block__name:after {
      content: '';
      position: absolute;
      top: 8px;
      right: -12px;
      width: 7px;
      height: 4px;
      background: url(../img/arrow.svg) no-repeat center; }

.user-block--nav {
  padding-top: 160px;
  padding-left: 12px;
  position: relative; }

.map {
  position: fixed;
  top: 61px;
  left: 70px;
  width: 50vw;
  height: 100vh; }

.settings {
  margin-left: -webkit-calc(50vw + 60px);
  margin-left: calc(50vw + 60px);
  margin-top: 60px; }

.filters-block__title {
  font-family: "OpenSansLight", sans-serif;
  font-size: 16px;
  font-weight: 300; }

.filters-block__btn {
  width: 22px;
  height: 22px;
  border: none;
  cursor: pointer;
  background: url(../img/filter.svg) center no-repeat; }

.form__title {
  font-size: 13px;
  font-weight: 600; }

.form__select {
  width: 285px;
  height: 38px;
  padding-left: 15px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.range {
  width: 590px; }
  .range__range {
    width: 285px;
    height: 3px;
    background-color: #cccccc;
    outline: none;
    -webkit-appearance: none;
    background: -webkit-linear-gradient(left, #0eaaa6 0%, #0eaaa6 25%, #cccccc 25%, #cccccc 100%);
    border: 1px #cccccc; }
    .range__range::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #cccccc;
      background-color: #ffffff;
      cursor: pointer; }
    .range__range::-moz-range-track {
      width: 285px;
      height: 3px;
      background-color: #cccccc;
      outline: none;
      border: 1px #cccccc; }
    .range__range::-moz-range-thumb {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #cccccc;
      background-color: #ffffff;
      cursor: pointer; }
