@mixin light
	font:
		family: OpenSans, sans-serif
		size: 13
		weight: 300
		style: light  
	line-height: 1.2
	
@mixin italic
	font:
		family: OpenSans, sans-serif
		size: 16
		weight: 300
		style: italic  
	line-height: 1.3
	 
@mixin regular
	font:
		family: OpenSans, sans-serif
		size: 13
		weight: 400
		style: regular  
	line-height: 1.5
		 
@mixin bold
	font:
		family: OpenSans, sans-serif
		size: 16
		weight: 700
		style: bold  
	line-height: 1.3

