@import	"vars"
@import	"fonts"

body
	font-family: "OpenSansRegular", 'sans-serif'
	font-size: 13px
	width: 100vw
	height: 100vh
	margin: 0
	padding: 0  

ul
	padding: 0
	margin: 0
	li
		list-style: none
		
		
a
	text-decoration: none

.wrapper
	width: 1366px
	min-height: 768px
	margin: 0 auto
	display: flex
	-webkit-flex-wrap: wrap 
	  -ms-flex-wrap: wrap 
	  flex-wrap: wrap
	-webkit-justify-content: space-between 
	   justify-content: space-between    

.header
	height: 60px
	border: 1px solid $light-grey
	display: flex
	-webkit-justify-content: space-between 
	justify-content: space-between 
	
.search
	width: 1160px
	display: flex
	-webkit-flex-wrap: nowrap 
	-ms-flex-wrap: nowrap 
	flex-wrap: nowrap
	-webkit-justify-content: space-between 
	 justify-content: space-between  
	
	&__menu
		width: 60px
		height: 60px
		
		img
			display: block
			margin: auto
			padding-top: 24px
			 
	
	&__input
		width: 1000px
		height: 58px
		padding-left: 20px
		padding-right: 20px
		border: none
		outline: none
		position: relative 
		
		
.btn--search
	position: absolute
	width: 13px
	height: 13px
	top: 24px
	left: 94px
	background: url('../img/search.svg') center no-repeat
	 
			
.notifications
	width: 205px
	height: 60px
	padding-right: 35px
	
	&__item
		width: 25px
		height: 25px
		background: url(../img/notify.svg) center no-repeat
		position: relative 
		
		.counter
			color: $white
			display: block
			width: 14px
			height: 14px
			-webkit-border-radius: 50% 
			border-radius: 50%
			background-color: $red  
			position: absolute
			top: 0
			right: 0
			
			span
				display: block
				font-size: 11px
				line-height: 14px
				text-align: center
				
				
				
.notifications-wrap
	width: 100%
	height: 60px
	margin: 0 auto
	display: flex
	-webkit-justify-content: space-between 
	 justify-content: space-between
	-webkit-align-items: center 
	  align-items: center   


// SIDEBAR	
.sidebar
	width: 70px
	height: 100vh
	background-color: $dark-green
	color: white
	

	&__logo
		width: 70px
		height: 60px
		line-height: 60px
		text-align: center
		background-color: $blue 
		
	ul
		li
			a
				display: inline-block
				color: $light-green
				width: 70px
				height: 60px
				line-height: 60px
				text-align: center
				fill: #adc8c7
					
				&:hover
					background-color: $green-hover
					fill: white
				
//END SIDEBAR	

// USER_BLOCK		
.user-block
	width: 120px
	height: 60px
	padding-left: 20px
	padding-right: 20px
	text-align: center
	display: flex
	-webkit-flex-wrap: nowrap 
	-ms-flex-wrap: nowrap 
	flex-wrap: nowrap 
	-webkit-justify-content: space-between 
	justify-content: space-between 
	-webkit-align-items: center 
	align-items: center 

	&__logo
		width: 45px
		height: 45px
		display: inline-block
		-webkit-border-radius: 50% 
			border-radius: 50% 	
		background-color: grey	
	
	&__name
		display: block
		color: $grey
		position: relative
		
		&:after
			content: ''
			position: absolute
			top: 8px
			right: -12px
			width: 7px
			height: 4px
			background: url(../img/arrow.svg) no-repeat center	
			
.user-block--nav
	padding-top: 285px
	
// MAP
.map
	width: 648px
	height: 708px
	background: url(../img/map.png) center no-repeat
	
// END MAP	

// SETTINGS
.settings
	width: 648px
	
//END SETTINGS
