@import "vars"
@import "common"
@import "normalize"
@import "fonts"

html
	width: 100%
	height: 100%
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	
*,
*::before,
*::after
	-webkit-box-sizing: inherit 
	-moz-box-sizing: inherit 
	box-sizing: inherit 

h1,
h2,
h3
	font-weight: 300

body
	font-family: "OpenSansRegular", 'sans-serif' 
	font-size: 16px 
	
.wrapper
	width: 100%
	min-height: 100%
	position: relative
	overflow: hidden

.empty
	height: 340px

.container
	width: 1100px
	margin: 0 auto
	display: flex
	-webkit-flex-direction: row 
	-ms-flex-direction: row 
	flex-direction: row
	-webkit-flex-wrap: nowrap 
	 -ms-flex-wrap: nowrap 
	 flex-wrap: nowrap
	-webkit-justify-content: space-between 
	  justify-content: space-between   
	
ul
	padding: 0
	margin: 0
	
	li
		list-style: none	
		
p 
	padding: 0
	margin: 0
	
a
	text-decoration: none

// HEADER	
.header
	width: 100%
	position: absolute
	top: 0
	left: 0
	right: 0
	z-index: 2
	@include clearfix
	@include gradient

.logo
	float: left
	padding-top: 24px
	
	&__img
		display: inline-block
	
	padding-left: 20px
	&__text
		font-family: "OpenSansLight", 'sans-serif'
		display: inline-block
		font-size: 20px
		color: #FFF 
		
		
.header__menu
	float: right
	margin-top: 20px
	
	padding-right: 20px
	color: #fff
	
.nav
	font-size: 0
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	li
		display: inline-block
		font-size: 13px
		a
			display: block
			padding: 15px
			color: #fff
			-webkit-border-radius: 2px 
			border-radius: 2px
			-webkit-transition: all 0.1s ease
			 -moz-transition: all 0.1s ease
			 -ms-transition: all 0.1s ease
			 -o-transition: all 0.1s ease
			 transition: all 0.1s ease 
	
			&:hover
				background-color: $blue 
	
.hero
	background: #a3a3a3 url("../img/hero.jpg") no-repeat 50% 50%
	background-size: cover
	height: 100vh
	padding-top: 215px
	text-align: center
	position: relative 
	&__title
		font-family: "OpenSansBold", 'sans-serif'
		@include gradient
		display: inline-block
		padding-left: 20px
		padding-right: 20px  
		color: #fff
		font-size: 40px
		margin: 0
			
	&__desc
		font-family: "OpenSansBold", 'sans-serif'
		@include gradient
		width: 350px
		margin: 0 auto 
		margin-bottom: 25px
		color: #fff
		font-size: 14px
		
		
// BUTTONS
.btn
	display: inline-block
	padding: 16px 20px
	margin: 0 auto
	background-color: #333333 
	border: none
	-webkit-border-radius: 3px 
	border-radius: 3px 
	color: #fff
	font-size: 14px
	-webkit-border-radius: 2px 
	border-radius: 2px 
	&:hover
		background-color: $blue
		-webkit-transition: all 0.3s ease
		 -moz-transition: all 0.3s ease
		 -ms-transition: all 0.3s ease
		 -o-transition: all 0.3s ease
		 transition: all 0.3s ease 
		
.submit
	font-family: "OpenSansRegular", 'sans-serif' 
	color: white
	background-color: $blue
	border: none
	-webkit-border-radius: 2px 
	border-radius: 2px	
	&:hover
		background-color: rgba(14, 170, 166, .8) 

	
	
// END BUTTONS
		
// SEARCH
.search
	width: 100%
	background-color: rgba(0,0,0,.5)
	position: absolute
	bottom: 0
	left: 0
	z-index: 2  
	
.search-wrap
	width: 1110px
	margin: 0 auto
	
.main-form
	padding-top: 20px
	padding-bottom: 20px
	display: flex
	-webkit-flex-direction: row 
	-ms-flex-direction: row 
	flex-direction: row
	-webkit-justify-content: space-around
	 justify-content: space-around 
	
input
	padding: 8px
	-webkit-border-radius: 2px 
	 		border-radius: 2px  	

		
.input-group
	display: flex
	-webkit-justify-content: flex-start 
	justify-content: flex-start 
	width: 210px
	height: 38px
	
		
	
.city
	width: 178px

.bedrooms, 
.bathrooms
	color: $grey
	padding: 8px
	-webkit-border-radius: 2px 
	border-radius: 2px 
	
.price-label
	font-size: 13px
	display: inline-block
	line-height: 38px
	width: 33px
	height: 38px
	background-color: #f7f7f7
	border: 1px solid #dfdfdf

.from,
.to
	font-size: 13px
	width: 178px

label
	display: inline-block
	text-align: center
	width: 80px
	height: 38px
	line-height: 38px
	font-size: 0	

.checkbox
	display: inline-block
	font-size: 13px
	vertical-align: middle 
	width: 18px
	height: 18px

.checkbox-text
	font-family: 'OpenSansRegular', 'sans-serif'
	display: inline-block
	vertical-align: middle
	padding-left: 5px
	color: $white
	line-height: 38px
	font-size: 13px

// END SEARCH	

// INFO
.info
	width: 100%
	background-color: $blue
	text-align: center
	padding-top: 35px
	padding-bottom: 35px
	margin-bottom: 45px 
	&__title
		font-family: "OpenSansLight", 'sans-serif'
		font-weight: lighter 
		font-size: 26px
		color: $white
		margin: 0
		padding-bottom: 20px
		
	&__desc
		font-family: "OpenSansLight", 'sans-serif'
		font-style: italic 
		width: 470px
		margin: 0 auto 
		color: $white

// SERVICE
.service
	background-color: $white
	text-align: center
	&__title
	 	font-family: "OpenSansLight", 'sans-serif'
	 	font-size: 22px
	 	margin: 0
	 	margin-bottom: 20px	
	 	
.feature-wrap
	width: 1110px
	margin: 0 auto
	margin-bottom: 30px
	display: flex
	-webkit-flex-direction: row
	-ms-flex-direction: row
	flex-direction: row
	-webkit-justify-content: space-between 
	justify-content: space-between 
	
.feature
	width: 265px
	min-height: 270px
	position: relative
	background-color: $white
	text-align: center 
	
	&__img
		width: 100%
		height: 75px
		margin-top: 30px
		

	&__link
		display: block
		background-color: $white
		
		&:hover
			background-color: $blue
			-webkit-border-radius: 5px 
			border-radius: 5px
			transform: scale(1.1)
			-webkit-transition: 0.2s ease 
			  -moz-transition: 0.2s ease 
			  -ms-transition: 0.2s ease 
			  -o-transition: 0.2s ease 
			  transition: 0.2s ease
			.feature__title,
			.feature__desc
				color: $white
	   
	&__title
		width: 100%
		min-height: 22px
		padding: 0 10px 
		font-family: "OpenSansLight", 'sans-serif'
		font-weight: 300
		font-size: 22px
		color: $blue
		margin-top: 20px
		margin-bottom: 25px
		
	&__desc
		font-family: "OpenSansLight", 'sans-serif'
		font-size: 13px
		padding-bottom: 32px
		color: #999999
		width: 100%
		
.pin
	background: url("../img/pin.png") no-repeat 50%
	
.user
	background: url("../img/user.png") no-repeat center 
	
.house
	background: url("../img/house.png") no-repeat center
	
.upload
	background: url("../img/upload.png") no-repeat center				

// PROPERTIES
.properties
	background-color: $white
	text-align: center
	&__title
		font-family: "OpenSansLight", 'sans-serif'
		font-size: 22px
		margin: 0
		padding: 0
		margin-bottom: 30px 
	
.property-wrap
	width: 1100px
	margin: 0 auto
	display: flex
	-webkit-flex-wrap: wrap 
	-ms-flex-wrap: wrap 
	flex-wrap: wrap
	-webkit-flex-direction: row 
	-ms-flex-direction: row 
	flex-direction: row   
	
.property
	width: 350px
	height: 212px
	margin-right: 15px
	margin-bottom: 20px
	-webkit-border-radius: 3px 
	border-radius: 3px 
	position: relative
	overflow: hidden 
	&:last-child
		margin-right: 0
	img
		width: 100%
		height: 100%
	&:hover
		.caption
			top: 0
		 
.caption
	position: absolute
	top: -100%
	left: 0
	background: rgba(0,0,0,0.7) 
	width: 100%
	height: 100%
	color: $white
	-webkit-border-radius: 3px 
	border-radius: 3px 
	-webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s
   -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s  
   -ms-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s 
   -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s 
   transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s

	span
		font-family: 'OpenSansRegular', 'sans-serif'
		display: inline-block
		font-size: 10px
		background-color: $yellow
		text-transform: uppercase
		-webkit-border-radius: 2px 
		border-radius: 2px
		padding: 3px
		margin-top: 16px
	
	p
		font-family: "OpenSansLight", 'sans-serif'
		font-size: 18px
		
	i
		font-family: "OpenSansItalic", 'sans-serif'
		font-size: 11px
		
hr
	width: 210px
		
.price
	font-family: "OpenSansLight", 'sans-serif'
	font-size: 30px
	margin-top: 20px
		 
.stars
	width: 90px
	margin: 0 auto
	margin-top: 15px 

.star
	display: inline-block
	width: 14px
	height: 14px
	background: url("../img/star.png") no-repeat center
	-webkit-background-size: cover 
	-o-background-size: cover 
	background-size: cover
	
.star--inactive
	display: inline-block
	width: 14px
	height: 14px
	background: url("../img/star-o.png") no-repeat center
	-webkit-background-size: cover 
	-o-background-size: cover 
	background-size: cover
	
// END PROPERTIES

// OUR AGENTS
.our-agents
	background-color: $white
	text-align: center
	margin-bottom: 60px 

	&__title
		font-family: "OpenSansLight", 'sans-serif'
		font-size: 22px
		margin: 0 auto
		padding-bottom: 20px
		
.agents
	width: 1100px
	margin: 0 auto
	display: flex
	-webkit-flex-direction: row 
	-ms-flex-direction: row 
	flex-direction: row
	-webkit-flex-wrap: no-wrap 
	-ms-flex-wrap: no-wrap 
	flex-wrap: no-wrap
	-webkit-justify-content: space-around 
	justify-content: space-around    

.agent
	width: 150px
	
	&__img
		width: 150px
		height: 150px
		-webkit-border-radius: 50% 
		border-radius: 50%
		-webkit-background-size: cover 
		-o-background-size: cover 
		background-size: cover
		background-position: 50% 50%
		background-repeat: no-repeat
		margin-bottom: 16px      
		
	&__name
		font-family: "OpenSansLight", 'sans-serif'
		font-size: 16px
		
		
.social
	width: 138px
	min-height: 32px
	margin: 0 auto
	font-size: 0
	margin-top: 12px 
	
	&__icon
		display: inline-block
		width: 32px
		height: 32px
		font-size: 16px
		margin-right: 3px
		&:last-child
			margin-right: 0

// END OUR AGENTS
// TESTIMONIALS
.testimonials
	width: 700px
	margin: 0 auto
	text-align: center
	
	&__title
		font-family: "OpenSansLight", 'sans-serif'
		font-size: 22px
		margin: 0 auto
		padding-bottom: 20px
		
	&__img
		float: left
		width: 100px
		height: 100px
		display: inline-block
		-webkit-border-radius: 50% 
		border-radius: 50%
		background-color: $grey
		background-image: url('../img/testi.jpeg')
		-webkit-background-size: cover 
	    -o-background-size: cover 
	    background-size: cover
		background-position: 50% 50% 
		background-repeat: no-repeat 
		
	&__par
		float: right
		padding-top: 15px
		padding-bottom: 10px
		font-family: "OpenSansItalic", 'sans-serif'
		width: 580px
		display: inline-block
		text-align: left
		
		
	&__author
		float: right
		font-family: "OpenSansBold", 'sans-serif'
		text-align: left
		width: 580px
		min-height: 22px

		    
.review
	@include clearfix
	width: 700px
	
.testimonials__selectors
	margin-bottom: 35px

.selector
	display: inline-block
	width: 10px
	height: 10px
	-webkit-border-radius: 50% 
	border-radius: 50% 
	background-color: #b3b3b3
	&:hover
		background-color: #000000 

// END TESTIMONIALS			


// FOOTER
.footer
	width: 100%
	height: 340px
	margin-top: -340px
	position: relative
	background-color: $dark-grey 
	
.footer__col
	width: 25%
	margin-bottom: 60px
	
	.phone
		font-family: 'OpenSansRegular', 'sans-serif'
		font-size: 20px
		color: $white
		position: relative
		padding-left: 25px
		margin-bottom: 15px 
		
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			background: url('../img/phone.png') no-repeat center
			width: 20px
			height: 20px
	.address
		width: 150px
		color: $white
		font-family: "OpenSansLight", 'sans-serif'
		font-size: 13px
		margin-bottom: 18px
	
	h3
		color: #c6e4e3 
		font-family: "OpenSansLight", 'sans-serif'
		font-size: 16px
		margin: 0
		margin-top: 40px
		margin-bottom: 20px
		
	ul
		font-family: 'OpenSansRegular', 'sans-serif'
		color: $white
		
		a
			line-height: 1.5
			color: $white
			 

.social
	width: 140px
	margin: 0
	
	a
		display: inline-block
		width: 32px
		height: 32px
		-webkit-border-radius: 50% 
		border-radius: 50% 
		border: 1px solid $white
		position: relative 
		
		&:hover
			background-color: rgba(14,170,166,0.5)
			
	.fb
		position: absolute
		top: 8px
		left: 13px
		
	.tw
		position: absolute
		top: 9px
		left: 10px
		
	.g
		position: absolute
		top: 9px
		left: 9px


	.in
		position: absolute
		top: 9px
		left: 11px
	


.email
	width: 260px
	height: 38px
	-webkit-border-radius: 3px 
	border-radius: 3px
	margin-bottom: 15px
	font-size: 13px 

.sumbit--lg
	width: 260px
	height: 38px

.copyright
	text-align: center
	width: 158px
	margin: 0 auto
	font-size: 12px
	color: #999999

	
